@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter&family=Kreon:wght@600&display=swap');


.about-container {
    margin-bottom: 100px;
}



.about-image {

    width: 100%;
    height: 80vh; 
    background-image: url('../assets/images/carer-and-client.jpg'); 
    background-size: cover; 
    background-position:30 30;
    background-repeat: no-repeat; 
}
    


.main-about-header {
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: 'Cabin', sans-serif;

}

.about-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    color: #008B95;


}

.about-para {
    margin-left: 40px;
    font-family: 'Inter', sans-serif; 
}

