@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter&family=Kreon:wght@600&display=swap');

.main-membership-header {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin-top: 70px;

}